extends ../layout



block content
	div
		h2= hero		
		.pull-left
			each card in cards
				div
					a(href=card.url, rel='item='+ card.id)= card.name
					span= ' x' + card.number

		div.pull-left
			div(id="c_manaCost", class="default-chart pull-left")
			div(id="c_attack", class="default-chart pull-left")
			div(id="c_health", class="default-chart pull-left")

		script.
			$(document).ready(function() {
				hearthGen.manaCost(!{JSON.stringify(manaList)});
				hearthGen.attackMinion(!{JSON.stringify(attackList)});
				hearthGen.healthMinion(!{JSON.stringify(healthList)});
			});