extends ../layout



block content
	.container
		.row
			.col-sm-3.col-md-2.card-list
				include _cardlist

			.col-sm-9.col-md-10.main(style='background-color: #f5f5f5;')
				h1 Deck Summary
				include _summary
				hr
				include _startinghand
				hr
				include _generalCharts

	script.
		$(document).ready(function() {
			$('#attack_stat').sparkline(!{JSON.stringify(attackList)}, { type: 'bar', barColor: '#bf9853', tooltipFormat: '{{value}} cards at {{offset}} attack' });
			$('#health_stat').sparkline(!{JSON.stringify(healthList)}, { type: 'bar', barColor: '#CD0200', tooltipFormat: '{{value}} cards at {{offset}} health' });
			$('#spell_stat').sparkline(!{JSON.stringify(spellList)}, { type: 'bar', barColor: '#3399F3',   tooltipFormat: '{{value}} spells at {{offset}} mana' });

			hearthGen.manaCost(!{JSON.stringify(manaList)}, !{manaAverage});
			hearthGen.attackMinion(!{JSON.stringify(attackList)}, !{attackAverage});
			hearthGen.healthMinion(!{JSON.stringify(healthList)}, !{healthAverage});
			hearthGen.cardTypes(!{JSON.stringify(cardTypeList)});
		});



